<html data-ng-app="horseApp">
  <head>
    <meta charset="utf-8">
    <title>Angular.js JSON Fetching Example</title>
    
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script>
      var horseApp = angular.module('horseApp', []);
      horseApp.controller('HorseCtrl', function ($scope, $http){
        $http.get('http://localhost:8080/greeting1').success(function(data) {
          $scope.horses = data;
        });
        
      });
    </script>
</head>
<body>
<span>Table One</span>
<div data-ng-controller="HorseCtrl">
<table width="400" border="1">
    <tr data-ng-repeat="horse in horses">
        <td width="20px">
            <input type="checkbox" data-ng-model="horse.included" ></input>
        </td>
        <td>{{horse.id}}</td>
        <td>{{horse.name}}</td>
    </tr>
</table>
<br>
{{horses.included}}
<br>

<span>Table Two</span>
<table width="400" border="1">
        <tr ng-repeat="horse in horses | filter: {included}:true">
            <td>{{horse.id}}</td>
            <td>{{horse.name}}</td>
        </tr>

</table>
<br>

</div>
</body>
</html>