<html data-ng-app="horseApp">
  <head>
    <meta charset="utf-8">
    <title>Angular.js JSON Fetching Example</title>
    
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script>
      var horseApp = angular.module('horseApp', []);
      horseApp.controller('HorseCtrl', function ($scope, $http){
        $http.get('http://localhost:8080/greeting1').success(function(data) {
          $scope.horses = data;
        });
        
      });
     // console.log(scope.horses.id)
    </script>
  </head>
  <body data-ng-controller="HorseCtrl">
	<h2>Angular.js JSON Fetching Example</h2>
	
	 <input type="text" data-ng-model="search.name"> <br>
	  <label data-ng-repeat="horse in horses | filter:search ">
	 
	<input type="checkbox" data-ng-model="horses.selected[horse.id]">
	   {{horse.id}} {{horse.name}} {{horse.trainer.firstName + " " + horse.trainer.lastName}}
      <br>
	  </label>
	  
	 {{horses.selected}} 
	 <br>
	 <div data-ng-app="horse">
    <div data-ng-controller="horseCtrl">
        <div data-ng-repeat="h in horses">
           {{h.id}}
        </div>
        </div>
        </div>
	   
	<!--    <label data-ng-repeat="horse in horses | filter: selected=true">
   {{horse.id}} {{horse.name}} {{horse.trainer.firstName + " " + horse.trainer.lastName}}</br>
	  </label>
	    

 
 <label data-ng-repeat="{{horses.selected}}">
 {{horses.selected}}
  </label>
 -->
	
    <!-- <table cellspacing = "0" cellpadding = "0" border = "0">
      <tr>
      <th>Select</th>
		<th>Id</th>
		<th>Name</th>
		<th>Trainer</th>
      </tr>
            <tr>
            <td></td>
            <td></td>
		<td><input type="text" data-ng-model="search.name"></td>
		<td><input type="text" data-ng-model="search.trainer.firstName"></td>
      </tr>
      <tr data-ng-repeat="horses in horses | filter:search">
      <td><input type="checkbox" data-ng-model="checkboxModel.value1"
      data-ng-true-value={horses.name}} data-ng-false-value="'NO'" id="{{horses.id}}"></td>
      <td>{{horses.id}}</td>
		<td>{{horses.name}}</td>
		<td>{{horses.trainer.firstName + " " + horses.trainer.lastName}}</td>

      </tr>
      
    </table> -->
    <br/>
  </body>
</html>
