<html data-ng-app="horseApp">
  <head>
    <meta charset="utf-8">
    <title>Angular.js JSON Fetching Example</title>
    
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script>
      var horseApp = angular.module('horseApp', []);
      horseApp.controller('HorseCtrl', function ($scope, $http){
        $http.get('http://localhost:8080/greeting1').success(function(data) {
          $scope.horses = data;
          	 console.log($scope.horses)
        });
       
      });
   //   console.log($scope.horses)
    </script>
</head>
<body>
<div data-ng-app="horseApp">
    <div data-ng-controller="HorseCtrl">
        <div data-ng-repeat="horse in horses">
         	<input type="checkbox" data-ng-model="horses.selected[horse.id]"
 data-ng-init="horses.selected=false"        	
         	></input>{{horse.id}}
        </div>
        <ul>
            <li data-ng-repeat="horse in horses | filter:{selected:true}">{{horse.id}}</li>
        </ul>
{{horses.selected}}
</div>

</div>



</body>
</html>